body,ul{
    margin: 0;
    padding: 0;
}
body{
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: #333333;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.logo a{
    background-image: url("../images/mi-logo.png");
    background-position: 50% 50%;
}
@font-face {  /* ÉùÃ÷×ÖÌå */
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?8qhwk5');
    src:  url('../fonts/icomoon.eot?8qhwk5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8qhwk5') format('truetype'),
    url('../fonts/icomoon.woff?8qhwk5') format('woff'),
    url('../fonts/icomoon.svg?8qhwk5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}