@color1:rgb(255,127,0);
.top-nav{
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  color: #b0b0b0;
  background-color: #333;
  a:hover{
    color: white;
  }
  .current{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 100%;
    color: @color1;
    background-color: white;
  }
}
.w{
  width: 1226px;
  margin: 0 auto;
}
.top-list {
  float: left;
  li{
    float: left;
  }
}
.top-nav .sep {
  color: #444;
  margin-left: 0.5em;
  margin-right: 0.5em;
  float: left;
}
.top-items{
  float: left;
}
.appdl{
  position: relative;
  .QRcode{
    width: 124px;
    position: absolute;
    top: 40px;
    left: 50%;
    padding: 18px 0 14px;
    background: rgb(255,255,255);
    margin-left: -55px;
    box-shadow: rgb(170,170,170) 0 1px 5px;
    display: none;
    em {  width:0;
      height:0;
      border-width:0 10px 10px;
      border-style:solid;
      border-color:transparent transparent #fff;
      position:absolute;
      top:-10px;
      left:50px;
    }
    span {
      display: block;
      text-align: center;
      font-size: 14px;
      color:#333;
      line-height: 1px;
      margin-top: 14px;
    }
  }

}
.cart{
  position: relative;
  float: right;
  width: 120px;
  margin-left: 15px;
  text-align: center;
  background-color: #444;
  i{
    //content: "\e93a";
    font-family: 'icomoon';
    font-size: 16px;
    font-style: normal;
    vertical-align: middle;
    line-height: 16px;
  }
  .cart-content{
    position: absolute;
    top: 40px;
    height: 0;
    overflow: hidden;
    text-align: center;
    line-height: 100px;
    box-shadow: rgb(170,170,170) 0 1px 5px;
    background-color: white;
  }
}
.top-item-r{
  float: right;
}
.cover{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  opacity: 0.4;
}
.sr{
  position: fixed;
  top: -565px;
  left: 50%;
  width: 880px;
  height: 565px;
  margin-left: -440px;
  background-color: white;
  opacity: 0;
}
.popup-head{
  padding:14px 20px;
  height: 32px;
  background-color: #f5f5f5;
}
.popup-title{
  float: left;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #424242;
}
.popup-close{
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
  margin: 0px;
  color: #757575;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.popup-content{
  text-align: center;
  padding: 20px 40px;
  h2{
    font-size: 32px;
    color: #424242;
    margin: 0;
  }
  h3{
    font-size: 18px;
    margin: 0;
  }
}
.region{
  margin: 30px auto 0;
  overflow: hidden;
  li {
    margin: 0 10px 20px;
    float: left;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background-color: #eee;
    a{
      color: #333;
    }
    :hover{
      background-color: @color1;
      a{
        color: #fff;
      }
    }
  }
}
.agreement{
  position: fixed;
  left: 50%;
  top: -550px;
  width: 660px;
  margin-left: -330px;
  background-color: white;
  outline: none;
  opacity: 0;
}
.popup-body{
  padding: 20px;
  max-height: 400px;
  .warnning{
    margin-left: 20px;
    margin-bottom: 20px;
    span{
      color: @color1;
    }
  }
  .agree-con{
    max-height: 300px;
    overflow: auto;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
  }
}
.popup-ft{
  height: 40px;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  background-color: #f5f5f5;
  button{
    margin: 0 7px;
    width: 160px;
    height: 40px;
    border:1px solid #b0b0b0;
    background-color: white;
    color: #757575;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
  }
  .agree{
    border-color: @color1;
    background-color: @color1;
    color: white;
  }
}
.header {
  position:relative;
  height: 100px;
  .w{
    position: relative;
  }
}
.logo{
  float: left;
  width: 62px;
  margin-top: 22px;
  a{
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    text-indent: -9999em;
    background-color: @color1;
  }
}
.nav-list{
  float: left;
  padding: 12px 0 0 172px;
  width: 678px;
  height: 88px;
  font-size: 16px;
  overflow: hidden;
  li{
    float: left;
    a{
      display: block;
      padding: 26px 10px 38px;
    }
    :hover a{
      color: @color1;
    }
  }
}
.search{
  float:right;
  width: 296px;
  margin-top: 25px;
  height: 50px;
  position: relative;
  input[type="search"]{
    position:absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 245px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    transition: all .2s;
  }
  input[type="submit"]{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    font-family: "icomoon";
    font-style: normal;
    line-height: 24px;
    background: white;
    color: #616161;
    outline: 0;
    transition:all .2s;
  }
  :hover{
    input[type="search"],input[type="submit"]{
      border-color: #b0b0b0;
    }
  }
  input[type="submit"]:hover{
    color: #fff;
    background-color: @color1;
    border-color: @color1;
  }
  a:hover{
    color: #fff;
    background-color: @color1;
  }
}
.hot-search{
  position: absolute;
  top: 14px;
  right: 62px;
  z-index: 2;
  text-align: right;
  a{
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eeeeee;
    color: #757575;
    transition: all .2s;
  }
}
.text-options{
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 20;
  width: 243px;
  border: 1px solid @color1;
  border-top: 0;
  background: #fff;
  height: 100px;
  li a{
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
  }
  li a:hover {
    color: #424242;
    background-color: #f0f0f0;
  }
}
.cabinet{
  display: none;
  position: absolute;
  top: 100px;
  overflow: hidden;
  width: 100%;
  height: 0px;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 3px 4px rgba(0,0,0,0.18);
  .w{
    width: 1226px;
    margin: auto;
    overflow: hidden;
  }
  li{
    float: left;
    width: 203px;
    position: relative;
    font-size: 12px;
    text-align: center;
    i{
      display: block;
      position: absolute;
      top: 0px;
      left: 50%;
      height: 20px;
      padding: 0 20px;
      font-style: normal;
      line-height: 20px;
      border: 1px solid @color1;
      color: @color1;
    }
    img {
      display: block;
      width: 160px;
      height: 110px;
      margin: 35px auto 20px;
    }
    span{
      display: block;
      color: @color1;
    }
  }
  .sep{
    width: 1px;
    height: 100px;
    margin-top: 35px;
    background-color: #e0e0e0;
  }
}
.rotator{
  position: absolute;
  width: 100%;
  height: auto;
  .rotator-nav{
    padding: 20px 0;
    width: 234px;
    background-color: rgba(0,0,0,0.4);
    li{
      height: 42px;
      font-size: 14px;
      color: #ffffff;
      line-height: 42px;

      a{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        span{
          margin-left: 20px;
        }
        :hover{
          background-color: @color1;
        }
        i{
          display: block;
          float: right;
          font-size: 12px;
          font-weight: bold;
          margin-right: 24px;
          font-family: "icomoon";
        }
      }
    }
  }
  .rotater-navlist{
    position: absolute;
    left: 234px;
    top: 0;
    height: 458px;
    max-width: 991px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
    border: 1px solid #e0e0e0;
    border-left-width: 0;
    background-color: #fff;
    ul{
      width: 248px;
      float: left;
      padding-top:2px;
      li{
        padding-left: 20px;
        :hover{
          color: @color1;
        }
      }
    }
  }
}


