/*格式化开始*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"微软雅黑","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color:#fff;text-decoration:none}
a:hover{color:#409eff;text-decoration:none}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
/*格式化结束*/
body{
    background-color: #f5f9fc;
}
header{
    height: 80px;
    line-height: 80px;
    background-color: #343b43;
    font-size: 18px;
    color: #fff;
}
.shadow{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.wrap{
    width: 1080px;
    margin: 0 auto;
}
.title{
    float:left;
    font-size: 24px;
}
.back-btn{
    float:right;
}
section.wrap{
    margin-top: 20px;
}
.firstCatalogue{
    max-width:600px;
    text-align: center;
    margin: 0 auto;
}
.firstCata-item{
    float: left;
    width: 21%;
    margin: 16px 4%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    font-size: 18px;
    color: #343b43;
    text-align: center;
    padding: 10px 2%;
    border-radius: 40px;
}
.firstCata-item.active,.firstCata-item:hover{
    background-color: #343b43;
    color: #fff;
    cursor: pointer;
}
.subCatalogue{
    margin-top: 20px;
}
.subCata-item{
    float: left;
    min-width: 80px;
    background-color: #fff;
    color: #343b43;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    padding: 6px 12px;
    text-align: center;
    margin: 0 20px;
    border-radius: 10px;
    border:1px solid #343b43;
}
.subCata-item.active,.subCata-item:hover{
    background-color: #343b43;
    color: #fff;
    cursor: pointer;
}
.docCatalogue{
    margin-top: 20px;
}
.docCata-item{
    float: left;
    min-width: 60px;
    background-color: #fff;
    color: #343b43;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding: 6px 10px;
    text-align: center;
    margin-top: 6px;
    margin-left: 6px;
}
.docCata-item.active,.docCata-item:hover{
    background-color: #343b43;
    color: #fff;
    cursor: pointer;
}
.docContainer{
    display: none;
    padding: 20px;
    background-color: #fff;
    margin-top: 40px;
}
/**/